* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #1b1b1b;
  color: #fff;
}

.nav-header {
  background-color: #4e4e4e;
  border-top: 1px solid #919090;
  border-bottom: 1px solid #919090;
}

.nav-link {
  color: #cdcdcd;
}

.nav-link:hover {
  color: #cdcdcd;
  text-decoration: underline;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: #fc5a6a;
  color: #fff;
}

.btn:hover {
  width: 100px;
  height: 40px;
  background-color: #f7727f;
  box-shadow: 0px 0px 5px 2px #f13447;
  color: #cdcdcd;
}

.btn-action {
  width: 120px;
  height: 50px;
  background-color: #4e4e4e;
  color: black;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0px 0px 5px 2px #1a1a1a;
  color: #cdcdcd;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 5px;
}

input[type="checkbox"]:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px 2px #fc5a6a;
}


input[type="checkbox"]:checked {
  background-color: #fc5a6a;
  outline: none;
  border: none;
}

.input-custom {
  width: 60%;
}

input[class="form-control"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  background-color: white;
  border-radius: 4px;
}

input[class="form-control"]:focus {
  outline: none;
  box-shadow: 0px 0px 5px 2px #fc5a6a;
}

.card {
  border-radius: 5px;
  background-color: #fc5a6a;
}

.footer {
  padding: 1em 0
}

h3 {
  font-family: "Arial";
  font-size: 18pt;
  letter-spacing: 1px;
  width: 100%;
  padding: 15px;
  color: #FFF;
  text-align: center;
  border-radius: 5px;
}

#container {
  background-color: #1b1b1b;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -moz -flex;
  display: -ms -flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;

}

#container form {
  width: 400px;
  padding: 10px;
}

#container form img {
  margin: 15px auto;
  text-align: center;
  display: block;
}

#container form input {
  border: none;
  width: 90%;
  padding: 5px;
  font-size: 16pt;
  display: block;
  margin: 6px auto;
  border-radius: 5px;
  text-align: center;
}

#container form input[type="submit"] {
  background: #fc5a6a;
  padding: 10px;
  color: #FFF;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  margin-top: 10px;
}

#container form input[type="submit"]:hover {
  background: #f7727f;
}

#alert {
  font-weight: 500;
  font-family: "Arial";
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.swal2-popup.popup-class {
  background-color: #1b1b1b;
}

.swal2-title.title-class {
  color: #fff;
}

.swal2-html-container {
  color: #fff !important;
}

.swal2-confirm.button-class {
  background-color: #fc5a6a;
}

.swal2-confirm.button-class {
  color: #fff;
}

.icon-close {
  position: absolute;
  right: 20px;
}